* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100%;
}

img {
  height: auto;
  max-width: 100%;
}

body {
  color: #444;
  -webkit-font-smoothing: antialiased;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", serif;
  font-size: 12px;
  font-weight: 300;
  height: auto !important;
  height: 100%;
  margin: 0 auto;
  min-height: 100%;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
}

article, footer, header, nav, section {
  background-color: #fff;
  color: #888;
  display: block;
  margin: 8px 22px 8px 22px;
  overflow: hidden;
  margin: auto;
  width: 100%;
}

header > h1.header-top {
  text-align: center;
  margin: 10px 0px;
}

header > h1.header-top > a.logo-link {
  color: #FFF;
  background-image: url("../images/index/logo_3.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 160px auto;
  height: 50px;
  width: 160px;
  display: block;
  margin: 0px auto;
}

nav {
  border-top: 1px solid #dedede;
  margin: 0px auto;
  padding: 0px;
  text-align: center;
}

  nav > ul {
    margin: 0;
    padding: 0;
  }

    nav > ul > li {
      display: inline-block;
      list-style-type: none;
      vertical-align: middle;
      margin-left: -4px;
    }

      nav > ul > li > a {
        color: #000000;
        display: block;
        margin: 10px 0px;
        padding: 0 10px;
        text-decoration: none;
      }

      nav > ul > li:hover > a {
        color: #525D63;
      }

footer {
  border-top: 1px solid #dedede;
  bottom: 0;
  color: #000000;
  height: 60px;
  left: 0;
  position: absolute;
  text-align: center;
}

footer > .social {
    margin: 0;
    padding: 0;
    text-align: center
}

  footer > .social > ul {
      margin: 0;
      padding: 5px;
  }

    footer > .social > ul > li {
        margin: 5px;
        list-style: none outside none;
        display: inline-block;
    }

      footer > .social > ul > li > a > i {
        color: #000000;
      }
